h1{
    border-bottom: solid black 1px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 40px;
    color: #434242;
    text-align: center;
    margin: 0;
    padding: 10px;
}
.important{
    font-size: 20px;
}
h3{
    font-size: 15px;
}
.robot{
    height: 80px;
    width: auto;
}
.submit{
    width: 100px;
}
.blue{
    display: inline;
    color: #083AA9;
}
body{
    font-family: 'Jua', sans-serif;
    margin: auto;
    max-width: 600px;
    text-align: center;
}
.btn-wrap{
    margin: 0 auto;
    position: fixed;
    top: 40%;
}
button{
    font-family: 'Jua', sans-serif;
    font-family: 'Jua', sans-serif;
    border-radius: 20px;
    width:  100px;
    height: 50px;
    box-shadow: none;
    border: none;
}
.inv{
    display: none;
}
#startBtn{
    margin-top: 500px;
    font-size: 25px;
    width: 200px;
    height: 100px;
}
.border{
    padding: 20px;
    display: inline-block;
    border: solid black 1px;
}
input{
    width: auto;
    height: auto;
}
img{
    margin: 10px;
    height: 200px;
    width: auto;
    border-radius: 20px;
}
.credit{
    left: 0;
    right: 0;
    position: fixed;
    top: 95%;
    font-size: 12px;
}
a{
    text-decoration: none;
    color: gray;
}
.이전{
    font-size: 40px;
    position: fixed;
    left: 0;
    background-color: white;
    color: black;
}
.다음{
    font-size: 40px;
    position: fixed;
    right: 0;
    background-color: white;
    color: black;
}
.이재유{
    display: inline;
}
.이강복{
    display: inline;
}